body {
  text-align: left;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 60px;
  font-weight: bold;
}

.blue {
  color: #4285f4;
}
.red {
  color: #ea4335;
}
.yellow {
  color: #fbbc05;
}
.green {
  color: #34a853;
}

#big-text {
  text-align: left;
  color: black;
  font-weight: bold;
}

#small-text {
  color: grey;
}

.text p {
  display: inline;
}
